body {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: url("images/donation13.jpg");
    background-size: 1600px 620px;
    background-repeat: no-repeat;
}

.donation-button {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(skyblue, cornflowerblue);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    display: grid;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 40%;

}

.front-page {
    margin-bottom: 200px;
}

h1 {
    color: coral;
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    color: darksalmon;
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
    font-size: large;

}

.donation-amount {
    margin: 300px 50px 300px 50px;
}

.button {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(skyblue, cornflowerblue);
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    display: grid;
    margin: 0;
    position: absolute;
    top: 185%;
    left: 40%;

}


.amount {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0px;
    margin: 60px 40px 10px 40px;
}

.item {
    flex: 1;
    font-size: large;
    border: none;
    padding: 0px;
    margin: 10px 10px 10px 10px;
    width: 300px;
    text-align: center;

}

#item2 {
    flex: 1;
    font-size: 18pt;
    height: 150px;
    width: 50px;
    padding: 0px;
    text-align: center;
}

.other-amount {
    font-size: large;
    text-align: center;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.plan-title {
    text-align: center;
}

.plans {
    display: flex;
}

.type {
    text-align: center;
    border: 0px solid grey;
    margin: 10px 40px 40px 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 8px 8px 16px gray;
    background-color: bisque;
}

.shelter {
    width: 60px;
}

.education {
    width: 75px;
}

.meal {
    width: 70px;
}

.sylhet-flood {
    display: flex;
    text-align: center;
    border: 0px solid grey;
    margin: 60px 40px 80px 40px;
    padding: 10px 10px 10px 10px;
    box-shadow: 8px 8px 16px gray;
    background-color: bisque;
}

.newsletter {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px 10px 10px 10px;

}

.email-bar {
    border: 0px solid grey;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    box-shadow: 8px 8px 16px gray;
    background-color: #006599;
    border-radius: 5px 0px 0px 5px;

}

.sub-button {
    font-weight: bold;
    color: chocolate;
    border: 0px solid grey;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    box-shadow: 8px 8px 16px gray;
    background-color: #ffdb00;
    border-radius: 0px 5px 5px 0px;
}

footer {
    background-color: cadetblue;
    height: 60px;
}

small {
    font-size: small;
    margin-left: 520px;

}

.ibrahim {
    width: 150px;
    float: right;
}